In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('C:/Deloitte Folder/ML/Decision Trees/Social_Network_Ads.csv')

In [3]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
x=data.iloc[:,2:4].values
y=data.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [8]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x,y)

RandomForestClassifier()

In [9]:
y_pred=classifier.predict(x_test)

In [14]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_pred,y_test)
acc=accuracy_score(y_pred,y_test)
res=classification_report(y_pred,y_test)
print(cm)
print('accuracy:',round(acc*100,2))
print(res)

[[72  1]
 [ 0 47]]
accuracy: 99.17
              precision    recall  f1-score   support

           0       1.00      0.99      0.99        73
           1       0.98      1.00      0.99        47

    accuracy                           0.99       120
   macro avg       0.99      0.99      0.99       120
weighted avg       0.99      0.99      0.99       120

In [17]:
print(classifier.predict([[31,80000]]))

[0]

In [18]:
classifier1 = RandomForestClassifier(n_estimators=10,criterion="entropy",random_state=0)
classifier1.fit(x,y)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [19]:
y_pred1=classifier.predict(x_test)

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_pred1,y_test)
acc=accuracy_score(y_pred1,y_test)
res=classification_report(y_pred1,y_test)
print(cm)
print('accuracy:',round(acc*100,2))
print(res)

[[72  1]
 [ 0 47]]
accuracy: 99.17
              precision    recall  f1-score   support

           0       1.00      0.99      0.99        73
           1       0.98      1.00      0.99        47

    accuracy                           0.99       120
   macro avg       0.99      0.99      0.99       120
weighted avg       0.99      0.99      0.99       120